img {
    width: 100%;
    height: 200px;
    /* border-radius: 50%; */

}

/* sekcja ustawienia ogólnych elementów dla wszystkich htmlów */
html {
    background-color: #ecf0f1;
    font-family: sans-serif;

}

body {
    min-width: 300px;

    /* background-image: url("../background.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: royalblue;

}

td {
    text-align: center;
}

header,
main,
footer {
    background-color: white;

}

header,
main,
footer,
nav {
    margin: 1rem;
}

/* header {
    background-image: url("../clips.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} */



header,
footer {
    background-color: white;
    /* background-image: url("../clips.png");
    background-size: contain; */

    color: red;
    padding: 1rem;
}

/* header {
    overflow: auto;
} */

/* header h1 {
    float: left;
} */

/* header img {
    float: right;
} */


header {
    display: flexbox;
    justify-content: space-between;

}

/* sekcja nawigacji */
nav {
    background-color: #f1c40f;
    border-radius: 25px;
    padding: 20px;

}

nav ul {
    padding: 0;
    /* overflow: hidden; */
    list-style-type: none;
}

/* nav ul li {
    float: left;
} */
nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;

}


nav ul li a {

    display: inline-block;
    color: #2c3e50;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 25px;
    padding: 20px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;

}

nav ul li a:hover {
    background-color: #d35400;
    color: #ecf0f1;
}

nav ul li a.active {
    background-color: #e74c3c;
    color: #ecf0f1;
}

/* sekcja Main */

main {
    padding: 1.5rem;
}

footer {
    text-align: center;
}

/* koniec sekcji ogólnej */
main h2 {
    border-bottom: 1px solid #7f8c8d;

    margin-bottom: 2rem;
}

.table-list {
    border-collapse: collapse;
    color: #2c3e50;
    width: 100%;
}

.table-list,
.table-list th,
.table-list td {
    border: 1px solid #bdc3c7;

}

.table-list th,
.table-list td {
    padding: 0.5rem;
}

.table-list th,
table-list tbody tr:nth-child(odd) {
    background-color: #ecf0f1;
}

.list-actions {
    margin: 0;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.list-actions li {
    display: inline-block;

}

/* deklaracje wspólne */
.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete {
    display: inline-block;
    width: 75px;
    padding: 0.25rem 0.5rem;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete,
.form-button-submit,
.form-button-cancel {
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
}

.list-actions-button-details,
.list-actions-button-edit {
    margin-right: 1rem;
}

.list-actions-button-details {
    background-color: #2980b9;

}

.list-actions-button-details:hover {
    background-color: #3498db;
}

.list-actions-button-edit {
    background-color: #f39c12;
}

.list-actions-button-edit:hover {
    background-color: #f1c40f;
}

.form-button-cancel,
.list-actions-button-delete {
    background-color: #c0392b;
}

.form-button-cancel,
.list-actions-button-delete:hover {
    background-color: #e74c3c;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete,
.button-add,
.form-button-submit,
.form-button-cancel {
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
}

.button-add,
.form-button-submit,
.form-button-cancel {
    padding: 0.5rem 1rem;

}

.button-add,
.form-button-submit {
    background-color: #27ae60;
}

.button-add:hover,
.form-button-submit {
    background-color: #2ecc71;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

textarea {
    overflow: auto;
}

.form {
    margin-left: 2rem;
    /* width: 300px; */

}

.form {
    display: grid;
    grid-template-columns: 150px 300px 1fr;
    gap: 1rem;
}

.form-buttons {
    grid-column: 1/span 2;
}

.form select,
.form input[type="text"],
.form input[type="number"],
.form input[type="date"],
.form input[type="email"] {
    border: 1px solid #7f8c8d;
    color: #2c3e50;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;

}

.wrong {
    border: 1px solid red !important;
    color: #2c3e50;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;

}

.form label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5em;

}

.symbol-required {
    color: #c0392b;
}

.invalieborder {
    outline: none !important;
    border: 1px solid red;
    /* box-shadow: 0 0 10px #719ECE; */
}

/* piewrwsza czesc margin */
.form-buttons {
    margin-top: 2rem;
}

.form-button-cancel,
.form-button-submit {
    width: 100%;
}

.form-button-cancel {
    box-sizing: border-box;
    display: block;
}

.form-button-submit {
    margin-bottom: 0.5rem;
}

/* błędy wypełniania formularza */
.form input.error-input,
.form select.error-input {
    border: 3px solid #e74c3c
}

.errors-text {
    display: block;
    font-size: 0.85em;
    line-height: 2.25rem;
    margin-top: 0.5em;
    color: #e74c3c;
}

.errors-text,
.symbol-required {
    color: #c0392b;
}

/* <input class="form-button-submit" type="submit" value="Dodaj" />
                <a href="form-button-cancel">Anuluj</a> */


/* definicja odpowiednich widoków */
@media all and (max-width: 720px) {
    header {
        flex-direction: column;
    }

    header h2 {
        text-align: center;
    }

    header img {
        align-self: center;
    }

    nav ul {
        flex-wrap: wrap;

    }

    nav ul li {
        flex-basis: 50%;
        text-align: center;
    }

    nav ul li a {
        display: block;
    }

    .form {
        grid-template-columns: 1fr;
        row-gap: unset;
        margin-left: unset;
    }

    .form-buttons {
        grid-column: 1/1;
    }
}



@media all and (max-width: 400px) {

    body,
    nav,
    nav ul,
    header,
    main,
    footer {
        margin: 0;
    }

    nav ul li {
        flex-basis: 100%;
    }
}