<%- include('../fragments/header.ejs') %>

    <main>
        <h2>Szczegóły połączenia</h2>
        <form class="form" novalidate onsubmit="return validateForm();">
            <label for="movieChoose">Wybierz Film: *</label>
            <select name="movieChoose" id="movieChoose">
                <option>wybierz film</option>
                <option selected="selected" value="1"> gwiezdne wojny</option>
                <option value="2"> Indiana Jones</option>
                <option value="3"> Harry potter</option>



            </select>

            <span id="errorMovieChoose"></span>


            <label for="playlistChoose">Wybierz Playliste: *</label>
            <select name="playlistChoose" id="playlistChoose">
                <option>wybierz playliste</option>
                <option value="1"> horrory</option>
                <option value="2"> Filmy akcji</option>
                <option selected="selected" value="3"> filmy fantasy</option>
            </select>

            <span id="errorPlaylistChoose"></span>

            <label for="comment">Dodaj komentarz: *</label>
            <input value="dobry film" type="text" name="comment" id="comment" required>
            <span id="errorComment"></span>


            <label for="numberOnPlaylist">Dodaj numer na playliscie: *</label>
            <input value="1" type="number" id="numberOnPlaylist" name="numberOnPlaylist" min="0" required>
            <span id="errorNumberOnPlaylist"></span>

            <div class="form-buttons">
                <p id="errorsSummary"></p>
                <input class="form-button-submit" type="submit" value="Dodaj">
                <a class="form-button-cancel" href="movieAndPlaylistAllRecords.html">Anuluj</a>

            </div>

        </form>
    </main>
    <%- include('../fragments/footer.ejs') %>