<%- include('../fragments/header.ejs') %>

    <main>
        <h2>Lista filmów</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Movie Name</th>
                    <th>Lenght</th>
                    <th>PlaylistName</th>
                    <th>Comment</th>
                    <th>Position on playlist</th>
                    <th>Akcje</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gwiezdne Wojny</td>
                    <td>200 min</td>
                    <td>kosmos</td>
                    <td>"Dobry film"</td>
                    <td>1</td>


                    <td>
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="movieAndPlaylistDetails.html">Szczegóły</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="movieAndPlaylistEdit.html">Edytuj</a>

                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="">Usuń</a>
                            </li>

                        </ul>


                    </td>

                </tr>
                <tr>
                    <td>Indiana Jones</td>
                    <td>180 min</td>
                    <td>akcja</td>
                    <td>"film familijny"</td>
                    <td>2</td>


                    <td>
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="movieAndPlaylistDetails.html">Szczegóły</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="movieAndPlaylistEdit.html">Edytuj</a>

                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="">Usuń</a>
                            </li>

                        </ul>


                    </td>

                </tr>
            </tbody>
        </table>
        <p><a class="button-add" href="movieAndPlaylistForm.html">Dodaj nowego połączenie</a></p>
    </main>
    <%- include('../fragments/footer.ejs') %>