<%- include('../fragments/header.ejs') %>

    <main>
        <h2>Dostepne playlisty</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Długość</th>
                    <th>ocena</th>
                    <th>Data utworzenia</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>horrory</td>
                    <td>15godz</td>
                    <td>3.5</td>
                    <td>12-09-2001</td>

                    <td>
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="playlistDetails.html">Szczegóły</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="playlistEdit.html">Edytuj</a>

                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="">Usuń</a>
                            </li>

                        </ul>


                    </td>

                </tr>
            </tbody>
        </table>
        <p><a class="button-add" href="playlistform.html">Dodaj nową Playliste</a></p>
    </main>
    <%- include('../fragments/footer.ejs') %>