<%- include('../fragments/header.ejs') %>

    <main>
        <h2>Szczegóły Playlisty</h2>
        <form class="form">
            <label for="title">Nazwa Playlisty: *</label>
            <input type="text" name="title" id="title" value="HorrorPlaylist" required disabled>
            <span id="errorTitlePlaylist"></span>


            <label for="lenght">Długość w godz: *</label>
            <input type="text" name="length" id="lenght" value="2" required disabled>
            <span id="errorPlaylistLength"></span>


            <label for="rating">Ocena Playlisty: *</label>
            <input type="number" id="rating" value="5.5" name="quantity" min="1" max="5" required disabled>
            <span id="errorRatingPlaylist"></span>


            <label for="createDate">Data utworznie Playlisty: *</label>
            <input type="date" name="createDate" value="2014-02-08" id="createDate" required disabled>
            <span id="errorLinkToMovie"></span>

            <div class="form-buttons">
                <p id="errorsSummary"></p>
                <a class="list-actions-button-edit" href="playlistEdit.html">Edit</a>
                <!-- <input class="form-button-submit" type="submit" value="Dodaj" /> -->

            </div>

        </form>

        <h2>Sczegóły Palylisty</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Filmy</th>
                    <th>Position</th>
                    <th>Comment</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gwiezdne wojny</td>
                    <td>1</td>
                    <td>film o kosmosie</td>


                </tr>
            </tbody>
        </table>
        <a class="list-actions-button-details" href="listOfPlaylist.html">Powrót</a>
    </main>
    <%- include('../fragments/footer.ejs') %>