<%- include('../fragments/header.ejs') %>

    <main>
        <h2>Edytuj Playliste</h2>
        <form class="form" novalidate onsubmit="return validateForm();">
            <label for="title">Nazwa Playlisty: *</label>
            <input type="text" name="title" id="title" value="HorrorPlaylist" required>
            <span id="errorTitlePlaylist"></span>


            <label for="playlistlenght">Długość w godz: *</label>
            <input type="text" name="playlistlenght" id="playlistlenght" value="2" required>
            <span id="errorPlaylistLength"></span>


            <label for="Playlistrating">Ocena Playlisty: *</label>
            <input type="number" id="Playlistrating" value="5.5" name="Playlistrating" min="1" max="5" required>
            <span id="errorRatingPlaylist"></span>


            <label for="createDate">Data utworznie Playlisty: *</label>
            <input type="date" value="2014-09-11" name="createDate" id="createDate" required>
            <span id="erroCreateDate"></span>

            <div class="form-buttons">
                <p id="errorsSummary"></p>
                <input class="form-button-submit" type="submit" value="Dodaj">
                <a class="form-button-cancel" href="listOfPlaylist.html">Anuluj</a>
            </div>

        </form>
    </main>
    <%- include('../fragments/footer.ejs') %>