<%- include('../fragments/header.ejs') %>

    <main>
        <h2>Dostepne Playlisty</h2>
        <p>Brak rekordów do wyświetlenia.</p>
        <p><a class="button-add" href="">Dodaj nową playliste</a></p>
    </main>
    <%- include('../fragments/footer.ejs') %>