<%- include('../fragments/header.ejs') %>

    <main>
        <h2>Lista filmów</h2>
        <p>Brak rekordów do wyświetlenia.</p>
        <p><a class="button-add" href="movieForm.html">Dodaj nowego pracownika</a></p>
    </main>
    <%- include('../fragments/footer.ejs') %>