<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">

    </style>
</head>

<body>
    <header>
        <h1>Movie aplication</h1>
        <img src="../movies.png" alt="moviespicuture">

    </header>

    <nav>
        <ul>
            <li><a href="../StronaGlowna.html">Strona główna</a></li>
            <li><a href="listOfMovies.html" class="active">Filmy</a></li>
            <li><a href="../playlist/listOfPlaylist.html">Playlisty</a></li>
            <li><a href="../movieAndPlaylist/movieAndPlaylistAllRecords.html">Filmy Na Playliscie</a>
        </ul>
    </nav>
    <main>
        <h2>Szczegóły Filmu</h2>
        <form class="form">
            <label for="moviename">Nazwa filmu: *</label>
            <input type="text" name="moviename" id="moviename" value="Gwiezdne wojny" required disabled>
            <span id="errorMovieName"></span>


            <label for="lenght">Długość filmu: *</label>
            <input type="text" name="length" id="lenght" value="200" required disabled>
            <span id="errorMovieLength"></span>


            <label for="rating">Ocena filmu: *</label>
            <input type="text" name="rating" id="rating" value="3" required disabled>
            <span id="errorRating"></span>


            <label for="linktomovie">Link do filmu: *</label>
            <input type="text" name="linktomovie" id="linktomovie" value="https://www.youtube.com/watch?v=VkGqqMsaOGA"
                required disabled>
            <span id="errorLinkToMovie"></span>


            <label for="linktophoto">Link do zdjecia: *</label>
            <input type="text" name="linktophoto" id="linktophoto"
                value="https://amc-theatres-res.cloudinary.com/image/upload/f_auto,fl_lossy,h_465,q_auto,w_310/v1663085107/amc-cdn/production/2/movies/62300/62331/PosterDynamic/142915.jpg"
                required disabled>
            <span id="errorLinkToPhoto"></span>

            <div class="form-buttons">
                <p id="errorsSummary"></p>
                <a class="list-actions-button-edit" href="movieEdit.html">Edit</a>
                <!-- <input class="form-button-submit" type="submit" value="Dodaj" /> -->

            </div>

        </form>
        <h2>szczegóły datyczące filmu na playliście </h2>


        <table class="table-list">
            <thead>
                <tr>
                    <th>Playlista</th>
                    <th>Position</th>
                    <th>Comment</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Filmy fabularne</td>
                    <td>1</td>
                    <td>filmy dla dzieci</td>


                </tr>
            </tbody>
        </table>
        <a class="list-actions-button-details" href="listOfMovies.html">Powrót</a>

    </main>
    <footer>
        Imię, nazwisko, numer studencki
    </footer>
</body>

</html>