<%- include('../fragments/header.ejs') %>

    <main>
        <h2>Nowy film</h2>
        <form class="form">
            <label for="moviename">Nazwa filmu: <span class="symbol-required">*</span></label>
            <input type="text" id="moviename" class="wrong" name="moviename" required>
            <span class="errors-text" id="errorMovieName">Pole jest wymagane</span>


            <label for="lenght">Długość filmu: <span class="symbol-required">*</span></label>
            <input type="text" class="wrong" name="length" id="lenght" required>
            <span class="errors-text" id="errorMovieLength">Pole jest wymagane</span>


            <label for="rating">Ocena filmu: <span class="symbol-required">*</span></label>
            <input type="number" id="rating" class="wrong" name="quantity" min="1" max="5" required>


            <span class="errors-text" id="errorRating">Pole jest wymagane</span>


            <label for="linktomovie">Link do filmu: <span class="symbol-required">*</span></label>
            <input class="wrong" type="text" name="linktomovie" id="linktomovie" required>
            <span class="errors-text" id="errorLinkToMovie">Pole jest wymagane</span>


            <label for="linktophoto">Link do zdjecia: <span class="symbol-required">*</span></label>
            <input class="wrong" type="text" name="linktophoto" id="linktophoto" required>
            <span class="errors-text" id="errorLinkToPhoto">Pole jest wymagane</span>

            <div class="form-buttons">
                <p class="errors-text" id="errorsSummary">Formularz zawiera błędy</p>
                <input class="form-button-submit" type="submit" value="Dodaj">
                <a class="form-button-cancel" href="listOfMovies.html">Anuluj</a>
            </div>

        </form>
    </main>
    <%- include('../fragments/footer.ejs') %>