<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movie Demo</title>
    <link rel="stylesheet" type="text/css" href="/style.css">

</head>

<body>

    <header>

        <h1>Movie aplication</h1>
        <img src="https://i.pinimg.com/originals/a7/05/f5/a705f5baff42a6212d591ef41c09b4ef.jpg" alt="logo">



    </header>

    <nav>
        <ul>
            <li><a href="/" class="<%= navlocation == 'main' ? 'active' : ''%>">Strona główna</a> </li>
            <li><a href="/movies" class="<%= navlocation == 'movie' ? 'active' : ''%>">Filmy</a></li>
            <li><a href="/playlists" class="<%= navlocation == 'playlist' ? 'active' : ''%>">Playlisty</a></li>
            <li><a href="/moviesAndPlaylists" class="<%= navlocation == 'movieAndPlaylist' ? 'active' : ''%>">Filmy Na Playliscie</a></li>

        </ul>
    </nav>